<nav class="navbar navbar-inverse navbar-end">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span> Kostova@2021</a></li>
        </ul>
    </div>
</nav>