<html>
    <head>
        <title><%= pageTitle %></title>
        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="/main.css" > 
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    </head>
    <body>