<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Expo Bazar</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <% if(isAuthenticated){ %>
                <li><a href="/admin/add-product">Add Product</a></li>
                <li><a href="/card">Card</a></li>
                <li><a href="/admin/favorite">Favorites <span class="glyphicon glyphicon-star"></span></a></li>
            <% } %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <% if(!isAuthenticated){ %>
                <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <% } else { %>
                <form action="/logout" method="post">
                    <li><button type="submit" class="btn btn-link">Logout</button></li>
                </form>
            <% } %>
        </ul>
    </div>
</nav>