<%- include('includes/head.ejs') %>

<%- include('includes/navigation.ejs') %>


<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <img class="col-sm-12"  src="https://pngimg.com/uploads/welcome/welcome_PNG98.png" alt=""><br/>
        </div>
    </div>
</div>

<%- include('includes/end.ejs') %>

