<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>


<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="error-text">
                <h1 class="error"> <%= pageTitle %> </h1> 
                <h4>Comming Soon...</h4>
                <img src="https://static.wixstatic.com/media/90541a_0f30cc38e553438b9602c278cd37c7ea~mv2.gif" alt=""><br/>
            </div>
        </div>
    </div>
</div>

<%- include('../includes/end.ejs') %>

